@font-face {
  font-family: starJedi;
  src: url(/fonts/Starjedi.ttf);
}

body{
  margin:0;
  font-size: 16px;
}

h1 {
  font-family: starJedi;
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  color: #fae01f;
}

div{
  position:relative;
  box-sizing:border-box;
  padding: 20px;
}
.container{
  width:100%;
  min-height: 100vh;
  padding:0;
}

.container:after{
  content: '';
  clear: both;
  display: table;
}

.container>div{
  float: left;
  height: auto;
}

.spaceship-list{
  width: 100%;
  background-image: url(/img/200_s.gif);
  overflow: auto
}

.one-spaceship{
  width: 100%;
  background:  #000;
}

.searchbar{
  position: relative;
}

#search-text,
#search-button {
  line-height: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fae01f;
}

#search-text {
 width:150px;
}

#search-button{
  background: #fae01f;
  font-family: "starJedi";
}

#search-button:hover{
  cursor: pointer;
}

table {
  margin: 1em 0;
  border: 1px solid #fae01f;
  width: 100%;
  word-wrap: break-word;
}

table thead{
  font-family: "starJedi";
  color: #fae01f;
  letter-spacing: 2px;
  font-size: 1.5em;
}
table tr td{
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fae01f;
}

.main-ul {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fae01f;
}

table tr td {
  font-size: 1.5em;
}

.ship-detail {
  font-family: "starJedi";
  letter-spacing: 1px;
  color:  #fae01f;
}

.fallback-image {
  background-color: #fae01f;
}

.main-ul {
  margin-left: auto;
  margin-right: auto;
}
  .ship-image-detail {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

@media(min-width:1200px){
  .spaceship-list{
    width: 75%;
  }

  .one-spaceship{
    width: 25%;
  }

  .container>div{
    height: 100vh;
  }
  
  .searchbar{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .main-ul {
    margin-left: none;
    margin-right: none;
    
  }
}
